#home-page {
    margin-top: 50px;
    margin-left: 50px;
    margin-right: 50px;
}

.cards-row {
    display: flex;
    flex-flow: row;
    margin-bottom: 50px;
    overflow-x: scroll;
    padding-bottom: 10px;
}

.help-chips-row {
    display: flex;
    flex-flow: row;
    padding-bottom: 10px;
}

.modal-footer-row {
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    width: 100%;
}

.tutor-card-footer {
    display: flex;
    flex-flow: row;
    justify-content: flex-end;
}

.tutor-card h2 {
    margin: 0;
}

.tutor-card .chip {
    margin-bottom: 10px;
}

.header-row {
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    align-items: center;
}

#logout-btn {
    height: fit-content;
    width: fit-content;
}