@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

#root {
    --chip-text-color: #0288D1;
    --chip-border-color: #4FC3F7;
    --chip-bg-color: #B3E5FC;
}

body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    overflow-x: hidden;
}

* {
    font-family: 'Roboto', sans-serif;
}

.chip {
    background-color: var(--chip-bg-color);
    border: 2px solid var(--chip-border-color);
    border-radius: 100px;
    width: fit-content;
    padding-right: 10px;
    padding-left: 10px;
    padding-top: 2px;
    padding-bottom: 4px;
    margin-right: 8px;
    margin-top: 4px;
    height: 30.5px;
}

.chip-text {
    margin: 0;
    font-size: 15px !important;
    color: var(--chip-text-color);
}

.page-col {
    max-width: 1000px;
    margin-left: 100px;
    margin-right: 100px;
}

.centered-col {
    display: flex;
    flex-flow: column;
    justify-content: center;
}