@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

#root {
    --secondary-text-color: rgb(100, 100, 100);
    --secondary-bg-color: rgb(235, 235, 235);
    --secondary-text-color-disabled: rgb(100, 100, 100, .5);
    --secondary-bg-color-disabled: rgb(235, 235, 235, .5);
    --primary-text-color: rgb(2, 136, 209);
    --primary-bg-color: rgb(179, 229, 252);
    --primary-text-color-disabled: rgba(2, 136, 209, .5);
    --primary-bg-color-disabled: rgba(179, 229, 252, .5);
    --primary-bg-color-hover: #81D4FA;
    --secondary-bg-color-hover: rgb(210, 210, 210);
    overflow-x: hidden;
}

body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    overflow-x: hidden;
}

* {
    font-family: 'Roboto', sans-serif;
}

.chip {
    background-color: var(--secondary-bg-color);
    border-radius: 100px;
    width: fit-content;
    padding-right: 10px;
    padding-left: 10px;
    padding-top: 4px;
    padding-bottom: 4px;
    margin-right: 4px;
    margin-top: 4px;
    height: 30.5px;
    transition: background-color .3s;
    display: flex;
    flex-flow: row;
    align-items: center;
}

.chip-active {
    background-color: var(--primary-bg-color);
}

.chip-active .chip-text {
    color: var(--primary-text-color)
}

.chip .chip-delete-icon {
    margin-right: 4px;
    color: var(--secondary-text-color)
}

.chip-active .chip-delete-icon {
    color: var(--primary-text-color)
}

.chip-text {
    margin: 0;
    font-size: 15px !important;
    color: var(--secondary-text-color);
    transition: color .3s;
}

.page-col {
    margin-left: 100px;
    margin-right: 100px;
}

.centered-col {
    display: flex;
    flex-flow: column;
    justify-content: center;
}

.clickable:hover {
    cursor: pointer;
}

button {
    border-radius: 4px !important;
    border: none;
    padding-top: 6px;
    padding-bottom: 6px;
    padding-right: 15px;
    padding-left: 15px;
}

.button-primary {
    transition: background-color .3s;
    background-color: var(--primary-bg-color);
    color: var(--primary-text-color)
}

.button-secondary {
    transition: background-color .3s;
    background-color: var(--secondary-bg-color);
    color: var(--secondary-text-color)
}

.button-primary:disabled {
    background-color: var(--primary-bg-color-disabled);
    color: var(--primary-text-color-disabled);
}

.button-secondary:disabled {
    background-color: var(--secondary-bg-color-disabled);
    color: var(--secondary-text-color-disabled)
}

select {
    margin-bottom: 10px !important;
    margin-top: 5px !important;
    border: 1px solid var(--secondary-bg-color);
    padding: 5px;
    border-radius: 5px;
}

.tutor-card {
    border-radius: 4px;
    width: 400px;
    padding-right: 10px;
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-right: 8px;
    margin-top: 4px;
    display: flex;
    flex-flow: column;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

@media screen and (max-width: 800px) {
    .page-col {
        margin-left: 40px;
        margin-right: 40px;
    }
}

@media (hover: hover) {
    .chip-active.clickable:hover {
        background-color: var(--primary-bg-color-hover);
    }

    .chip:not(.chip-active):hover {
        background-color: var(--secondary-bg-color-hover);
    }

    .button-primary:hover:enabled {
        background-color: var(--primary-bg-color-hover);
    }

    .button-secondary:hover:enabled {
        background-color: var(--secondary-bg-color-hover);
    }
}